<aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
          <a href="#">
            <i class="fa fa-user"></i><span>Fornecedores</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/forms/general.html" routerLink="fornecedor"><i class="fa fa-user-plus"></i>Novo Fornecedor</a></li>
            <li><a href="pages/forms/advanced.html" routerLink = "fornecedoredit" ><i class="fa fa-list-ul"></i>Listar Fornecedores</a></li>
          </ul>
        </li>
      </ul>
    </section>
   </aside>
