<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h5>Cadastro Fornecedores</h5></div>
    <div class="panel-body">
      <div class="form-group input-group-sm col-xs-4">
        <label for="usr">Nome da Empresa:</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group input-group-sm col-xs-4">
        <label for="usr">Nome do Contato:</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group input-group-sm col-xs-4">
        <label for="usr">Cargo do Contato:</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group input-group-sm col-xs-4">
        <label for="usr">Endereço:</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group input-group-sm col-xs-4">
        <label for="usr">Cidade:</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group input-group-sm col-xs-4">
        <label for="usr">UF:</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group input-group-sm col-xs-4">
        <label for="usr">CEP:</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group input-group-sm col-xs-4">
        <label for="usr">Pais:</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group input-group-sm col-xs-4">
        <label for="usr">Telefone:</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group col-xs-4">
      <button type="button" class="btn btn-success">Cadastrar</button>&nbsp;
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
    </div>
  </div>
</div>
