<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h5><strong>Cadastro Fornecedores</strong></h5></div>
    <div class="panel-body">
      <form [formGroup]= "registerForm">
        <div class="row">
      <div class="form-group input-group-sm col-xs-4">
        <label >Nome da Empresa:</label>
        <input type="text" class="form-control"
        formControlName="nomedaempresa" [ngClass]="{'is-invalid': registerForm.get('nomedaempresa').errors && registerForm.get('nomedaempresa').touched}"
         placeholder="Nome da Empresa">
      <div *ngIf="registerForm.get('nomedaempresa').hasError('required')
      && registerForm.get('nomedaempresa').touched" class="invalid-feedback">
         Nome da Empresa é Obrigatório.
      </div>
    </div>

      <div class="form-group input-group-sm col-xs-4">
        <label >Nome do Contato:</label>
        <input type="text" class="form-control"
        formControlName="nomedocontato" [ngClass]="{'is-invalid': registerForm.get('nomedocontato').errors && registerForm.get('nomedocontato').touched}"
        placeholder="Nome do Contato">
      <div *ngIf="registerForm.get('nomedocontato').hasError('required')
      && registerForm.get('nomedocontato').touched" class="invalid-feedback">
         Nome do Contato é Obrigatório.
      </div>
    </div>

      <div class="form-group input-group-sm col-xs-4">
        <label >Cargo do Contato:</label>
        <input type="text" class="form-control"
        formControlName="cargodocontato" [ngClass]="{'is-invalid': registerForm.get('cargodocontato').errors && registerForm.get('cargodocontato').touched}"
        placeholder="Nome do Contato">
      <div *ngIf="registerForm.get('cargodocontato').hasError('required')
      && registerForm.get('cargodocontato').touched" class="invalid-feedback">
         Cargo do Contato é Obrigatório.
      </div>
    </div>
  </div>

 <div class="row">
      <div class="form-group input-group-sm col-xs-4">
        <label >Endereço:</label>
        <input type="text" class="form-control"
        formControlName="endereco" [ngClass]="{'is-invalid': registerForm.get('endereco').errors && registerForm.get('endereco').touched}"
        placeholder="Endereço">
      <div *ngIf="registerForm.get('endereco').hasError('required')
      && registerForm.get('endereco').touched" class="invalid-feedback">
         Endereço é Obrigatório.
      </div>
    </div>

      <div class="form-group input-group-sm col-xs-4">
        <label>Cidade:</label>
       <input type="text" class="form-control"
        formControlName="cidade" [ngClass]="{'is-invalid': registerForm.get('cidade').errors && registerForm.get('cidade').touched}"
        placeholder="cidade">
      <div *ngIf="registerForm.get('cidade').hasError('required')
      && registerForm.get('cidade').touched" class="invalid-feedback">
         Cidade é Obrigatório.
      </div>
    </div>

      <div class="form-group input-group-sm col-xs-4">
        <label >UF:</label>
        <input type="text" class="form-control"
        formControlName="uf" [ngClass]="{'is-invalid': registerForm.get('uf').errors && registerForm.get('uf').touched}"
        placeholder="UF">
      <div *ngIf="registerForm.get('uf').hasError('required')
      && registerForm.get('uf').touched" class="invalid-feedback">
         <p>UF é Obrigatório.</p>
      </div>
    </div>
 </div>
 <div class="row">
      <div class="form-group input-group-sm col-xs-4">
        <label >CEP:</label>
        <input type="text" mask="00000-000" class="form-control"
        formControlName="cep" [ngClass]="{'is-invalid': registerForm.get('cep').errors && registerForm.get('cep').touched}"
        placeholder="CEP">
      <div *ngIf="registerForm.get('cep').hasError('required')
      && registerForm.get('cep').touched" class="invalid-feedback">
         CEP é Obrigatório.
      </div>
    </div>

      <div class="form-group input-group-sm col-xs-4">
        <label >Pais:</label>
        <input type="text" class="form-control"
        formControlName="pais" [ngClass]="{'is-invalid': registerForm.get('pais').errors && registerForm.get('pais').touched}"
        placeholder="Pais">
      <div *ngIf="registerForm.get('pais').hasError('required')
      && registerForm.get('pais').touched" class="invalid-feedback">
         Pais é Obrigatório.
      </div>
    </div>
      <div class="form-group input-group-sm col-xs-4">
        <label >Telefone:</label>
        <input type="text" mask="(00) 00000-0000"  class="form-control" formControlName="telefone"
        formControlName="telefone" [ngClass]="{'is-invalid': registerForm.get('telefone').errors && registerForm.get('telefone').touched}"
        placeholder="Telefone">
      <div *ngIf="registerForm.get('telefone').hasError('required')
      && registerForm.get('telefone').touched" class="invalid-feedback">
         Telefone é Obrigatório.
      </div>
    </div>
 </div>
     <div class="row">
      <div class="form-group col-xs-4">
      <button type="button" class="btn btn-success" [disabled]="!registerForm.valid" (click)="salvarFornecedor()">Cadastrar</button>&nbsp;
      <button type="button" class="btn btn-danger" (click)="limparcampos()">Cancelar</button>
    </div>
  </div>
  </form>
    </div>
  </div>
</div>

